.flex {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.flex-grow {
    flex-grow: 1;
}
.spacer {
    flex-grow: 99;
}